html{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 100px 0;
}
input{
  border-radius: 4px;
  display: block;
  margin: 30px auto;
  width: 90%;
}
textarea.message{
  border-radius: 4px;
  display: block;
  margin: 30px auto;
  width: 90%;
}
button{
  border-radius: 4px;
}

.form{
  border-radius: 10px;
  border: 1px black solid;
  height: 300px;
  width: 300px;
  margin: 50px auto 20px;
}
.comm-item{
  border-radius: 10px;

  height: 300px;
  width: 300px;
  margin:0 auto;
  border: 1px white solid;
}

.comm-carousel{
  max-height: 400px;
  display: flex;
  flex-direction: row;
}